# Check subquota limit

Test if in some case the subquota who have monthly limit bit the max value.

In [2]:
using DataFrames, PlotlyJS

limit = readtable("../data/2016-11-15-limit-by-subquota.csv")

7×6 DataFrames.DataFrame
│ Row │ month │ year │ name                 │
├─────┼───────┼──────┼──────────────────────┤
│ 1   │ 8     │ 2014 │ "BILAC PINTO"        │
│ 2   │ 4     │ 2015 │ "HÉLIO LEITE"        │
│ 3   │ 7     │ 2015 │ "LUIZ CARLOS BUSATO" │
│ 4   │ 7     │ 2015 │ "WASHINGTON REIS"    │
│ 5   │ 2     │ 2016 │ "ODORICO MONTEIRO"   │
│ 6   │ 3     │ 2016 │ "ODORICO MONTEIRO"   │
│ 7   │ 4     │ 2016 │ "JUNIOR MARRECA"     │

│ Row │ subquota_description                    │ value   │ max     │
├─────┼─────────────────────────────────────────┼─────────┼─────────┤
│ 1   │ "Automotive vehicle renting or charter" │ 10817.0 │ 10000.0 │
│ 2   │ "Fuels and lubricants"                  │ 5914.21 │ 4900.0  │
│ 3   │ "Fuels and lubricants"                  │ 7938.88 │ 4900.0  │
│ 4   │ "Fuels and lubricants"                  │ 6823.64 │ 4900.0  │
│ 5   │ "Fuels and lubricants"                  │ 9226.59 │ 6000.0  │
│ 6   │ "Fuels and lubricants"                  │ 7039.34 │ 6000.0  │
│ 7   │ "Automotive vehicle renting or charter" │ 13000.0 │ 10900.0 │

The value passed for each people who have pass.

In [3]:
limit[:diff] = map((x,y) -> round(x-y,2) , limit[:value], limit[:max])
data = bar(;x=limit[:name],y=limit[:diff])

plot(data)

The sum with the total passed value:

In [4]:
sum(limit[:diff])

13159.66